@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Regular.ttf');
    font-weight: 400;
}